{% extends "base.html" %}

{% block title %}Flasky - Подтверждение аккаунта{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Привет, {{ current_user.username }}!
    </h1>
    <h3>Ты ещё не подтвердил свой аккаунт.</h3>
    <p>
        Перед тем как получить доступ к этому сайту тебе нужно подтвердить свой аккаунт.
        Проверь почтовый ящик, ты должны получить письмо со ссылкой для подтверждения.
    </p>
    <p>
        Нужна повторно отправить письмо для подтверждения?
        <a href="{{ url_for('auth.resend_confirmation') }}">Нажми здесь</a>
    </p>
</div>
{% endblock %}
